@model trading_model.StockPriceSummary


<table class="table">
    <thead>
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Current Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.summary) {
            <tr style="color: @((((item.Value.avgBidPrice + item.Value.avgAskPrice) / 2) > item.Value.openPrice) ? "#5eba7d" : "#b54040")">
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value.avgBidPrice)
            </td>
            <td>
                @Html.ActionLink("Buy", "Buy", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Sell", "Sell", new { /* id=item.PrimaryKey */ }) 
            </td>
        </tr>
}
    </tbody>
</table>

